@use "../base/typography" as *;
@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/mediaQueries";

.clients {
  padding: 0 1rem;
  position: relative;
  .testimonials-container {
    background: $secondaryBlue;
    overflow: hidden;
    border-radius: 8px;
    padding-top: 3em;
    .cards-container {
      padding: 2em;
      @include flexCenter;
      flex-wrap: wrap;
      gap: 1em;
      .card {
        width: 300px;
        height: 400px;
        background: $mainLight;
        border-radius: 8px;
        z-index: 1;
        box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
          0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
          0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
      }
    }
  }
  &::before {
    content: attr(data-icon);
    @include flexCenter;
    align-items: flex-start;
    color: $mainLight;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    position: absolute;
    font-size: 10rem;
    top: 1%;
    left: 1%;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: $mainBlue;
  }
  // &::after {
  //   ;
  //   font-size: 10rem;
  //   position: absolute;
  //   top: 1%;
  //   left: 10%;
  // }
}
