@use "../utils/variables" as *;
@use "../utils/mediaQueries";
@use "../utils/mixins" as *;
@use "../base/typography" as *;
@use "../base/typography" as *;

footer {
  display: grid;
  grid-template-rows: 1;
  padding: 0.5rem 1rem;
  > * {
    padding: 0.7rem 0;
  }
  .logo-container,
  .social-icons {
    text-align: center;
  }
  .social-icons {
    font-size: $veryLargeFontSize;
    display: flex;
    justify-content: space-evenly;
    a {
      i {
        transition: transform 0.5s ease-in-out, color 0.4s ease-in-out;
        &:hover {
          transform: translateY(5px);
          color: $red;
        }
      }
    }
  }
  .adress {
    span {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      i {
        padding-right: 0.5rem;
      }
    }
  }
  .working-hours {
    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .attributes {
    font-size: 0.5rem;
    a {
      color: black;
    }
  }
  @include mediaQueries.respond(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    .logo-container {
      grid-column: 1/2;
      grid-row: 1/2;
      @include flexCenter;
    }
    .social-icons {
      grid-column: 1/3;
      grid-row: 3/4;
      padding: 0.3rem;
      align-items: center;
      justify-content: center;
      i {
        padding-right: 0.5rem;
      }
    }
    .adress {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .working-hours {
      grid-column: 2/3;
      grid-row: 1/3;
      display: flex;
      justify-content: center;
    }
    .attributes {
      grid-column: 1/3;
      grid-row: 4/4;
    }
  }
  @include mediaQueries.respond(lg) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-row: repeat(2, 1fr);
    height: 40vh;
    border-top: 2px solid $secondaryBlue;
    .logo-container {
      grid-column: 1/2;
      grid-row: 1/2;
      @include flexCenter;
    }
    .social-icons {
      grid-column: 2/3;
      grid-row: 1/2;
      padding: 0.3rem;
      align-items: center;
      justify-content: center;
      i {
        padding-right: 0.5rem;
      }
    }
    .adress {
      grid-column: 3/4;
      grid-row: 1/2;
      @include flexCenter;
      flex-direction: column;
      align-items: flex-start;
    }
    .working-hours {
      grid-column: 4/5;
      grid-row: 1/2;
      display: flex;
      justify-content: center;
    }
    .attributes {
      grid-column: 1/3;
      grid-row: 2/3;
    }
  }
}

.fa-brands {
  color: $mainDark;
}
