@use "../utils/variables" as *;
@use "../utils/mediaQueries";
@use "../utils/mixins" as *;

.navigation {
  width: 100%;
  height: 10vh;
  max-width: 1200px;
  position: fixed;
  @include flexBetween;
  padding: 0 2vw;
  z-index: 998;
  background: rgba(251, 251, 251, 0.49);
  @include mediaQueries.respond(md) {
    position: relative;
    background: none;
  }
}

.logo {
  z-index: 999;
  position: fixed;
  padding-left: 0.5rem;
  @include mediaQueries.respond(md) {
    position: relative;
  }
}

.hamburger {
  position: fixed;
  right: 2vw;
  width: 8vh;
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  background: transparent;
  z-index: 999;

  @include mediaQueries.respond(md) {
    display: none;
  }

  .line {
    width: 100%;
    height: 3px;
    background: $mainDark;
    z-index: 0;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
  }
  &.toggle {
    :nth-child(1) {
      transform: rotate(-45deg) translate(-12px, 14px);
    }
    :nth-child(2) {
      opacity: 0;
    }
    :nth-child(3) {
      transform: rotate(45deg) translate(-6px, -10px);
    }
  }
}

.contact-btn {
  display: none;
  @include mediaQueries.respond(md) {
    display: block;
  }
}

.links {
  position: relative;
  width: 100%;
  ul {
    transform: translateX(100%);
    overflow: hidden;
    width: 98vw;
    height: 107vh;
    background-color: $mainLight;
    list-style-type: none;
    z-index: 99;
    position: fixed;
    inset: -7vh 0 0 0;
    @include flexCenter;
    flex-direction: column;
    transition: transform 0.4s ease-in-out;
    @include mediaQueries.respond(md) {
      flex-direction: row;
      inset: 0;
      padding: 0;
      width: 100%;
      position: relative;
      background: transparent;
      transform: translate(0);
    }
    li {
      padding: 0 2vw;
      a {
        color: $mainDark;
        text-transform: capitalize;
      }
    }
  }

  &.active {
    ul {
      transform: translateX(0);
    }
  }
}
