@use "../utils/variables" as *;
@use "../base/typography" as *;
@use "../utils/mediaQueries";

body {
  background: $mainLight;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: $medium400;
  font-size: $regularFontSize;
}

header,
section {
  min-height: 100vh;
}

section {
  display: grid;
}

a {
  text-decoration: none;
}

.call-to-action {
  display: none;
  @include mediaQueries.respond(md) {
    display: flex;
    padding: 0.7rem 1.4rem;
    background: $mainBlue;
    color: $mainLight;
    text-transform: uppercase;
    font-size: $smallFontSize;
    font-weight: $bold600;
    letter-spacing: 0.4px;
    min-width: max-content;
    border: none;
    border-radius: 8px;
  }
}
