@use "../utils/variables" as *;
@use "../base/typography" as *;
@use "../utils/mediaQueries";

html {
  scroll-behavior: smooth;
}

body {
  background: $mainLight;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: $medium400;
  font-size: $regularFontSize;
  @include mediaQueries.respond(md) {
    justify-content: center;
  }
}

a {
  text-decoration: none;
}

p {
  text-align: justify;
}
#logo-icon {
  color: $red;
  font-size: $largeFontSize;
  span {
    font-weight: bold;
    padding-left: 0.4rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
.call-to-action {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background: $mainBlue;
  color: $mainLight;
  text-transform: uppercase;
  font-size: $smallFontSize;
  font-weight: $bold600;
  letter-spacing: 0.4px;
  border: none;
  border-radius: 3px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    opacity: 0.7;
  }
  &.reverse {
    background: $secondaryBlue;
    color: $mainBlue;
  }
}

.call-to-action.nav {
  display: none;
  @include mediaQueries.respond(md) {
    display: inline-block;
    min-width: max-content;
  }
}

.section-title {
  text-align: center;
  padding: 1rem 0;
  text-transform: capitalize;
  position: relative;
  &::after {
    position: absolute;
    bottom: 15%;
    left: 50%;
    content: "";
    width: 7em;
    height: 1rem;
    transform: translate(-50%, -50%);
    background: $secondaryBlue;
    z-index: -1;
  }
}
