@use "../utils/variables" as *;
@use "../base/typography" as *;
@use "../utils/mediaQueries";

html {
  scroll-behavior: smooth;
}

body {
  // background: $mainLight;
  background: #ffffff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffffff,
    #ecedf1
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff,
    #ecedf1
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: $medium400;
  font-size: $regularFontSize;
  @include mediaQueries.respond(md) {
    justify-content: center;
  }
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

p {
  text-align: justify;
}

section {
  padding: 3rem 0;
}
#logo-icon {
  color: $red;
  font-size: $largeFontSize;
  span {
    font-weight: bold;
    padding-left: 0.4rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}

.section-title {
  text-align: center;
  padding: 1rem 0;
  text-transform: capitalize;
  position: relative;
  font-size: 2rem;
}
