//Font weights:
$thin300: 300;
$medium400: 400;
$bold600: 600;

//Font-sizes:

$smallFontSize: 0.7rem;
$mediumFontSize: 0.9rem;
$regularFontSize: 1rem;
$largeFontSize: 1.5rem;
$veryLargeFontSize: 1.8rem;
